<h1>ArgonJoint() Constructor</h1>

<h2>Description</h2>
<hr>
<p>
    The constructor takes jointNumber, pwmTimerChannel, pwmResolution, inputCaptureTimer, inputCaptureChannelA, inputCaptureChannelB, directionPort and directionPin as initial arguments. The methods can be access through ArgonBase and ArgonArm object directly, you do not need to call the constructor.
</p>

<h2>Syntax</h2>
<hr>
<pre>
    ArgonJoint( jointNumber, pwmTimerChannel, pwmResolution, inputCaptureTimer, inputCaptureChannelA, inputCaptureChannelB, directionPort, directionPin )
</pre>

<h2>Parameters</h2>
<hr>
<pre>
jointNumber (uint8_t): Joint number of the motor. Joint number fixed depending on the module.

pwmTimerChannel (uint32_t): PWM timer channel.

pwmResolution (uint16_t): PWM resolution.

inputCaptureTimer (TIM_HandleTypeDef *): Input capture timer.

inputCaptureChannelA (uint32_t): Input capture channel A

inputCaptureChannelB (uint32_t): Input capture channel B

directionPort (GPIO_TypeDef *): Motor direction GPIO port

directionPin (uint16_t): Motor direction GPIO pin

</pre>

<h2>Returns</h2>
<hr>
None

<h2>Examples</h2>
<hr>