<a class="get-doc" data-doc-path="mainpage.html">Next:Technical Specifications</a>
<hr>
<h1>Getting Started with Argon Base</h1>
<h2>Overview</h2>
<p>
    With Argon Base, you can learn about robotics, electronics, mechanics and software. Argon Base is a tiny computer on wheels. It comes with a number of project examples you can easily replicate, and it is a powerful robotics platform that you can hack to perform all sorts of tasks.
</p>
<img src="/plugins/argon/images/ArgonBasePers1.png" width="500px">
<p>
    Argon Base comes with four motors with encoders which are attached to mecanum wheels and four motor drivers with current sense capability. You can control these components and actuators through Argon library.
    There are three different boards on Argon Base; a Nucleo-F446RE control board, a Raspberry Pi 3 and a power supply board. The GPIO pins of Raspberry Pi 3 and Nucleo-F446RE can be used to attach many different types of sensors and actuators.
</p>

