<div class="sb-right-category">Examples</div>
<a class="js-argon-tutorial" data-path="ArgonPower" data-title="ArgonPower">
    <span class="icon-install bigger-icon"></span> Argon Power </a>
<a class="js-argon-tutorial" data-path="ArgonPWM" data-title="ArgonPWM"> <span class="icon-install bigger-icon"></span>
    Argon PWM </a><a class="js-argon-tutorial" data-path="BareMinimum" data-title="BareMinimum">
    <span class="icon-install bigger-icon"></span> Bare Minimum </a>
<a class="js-argon-tutorial" data-path="Blink" data-title="Blink"> <span class="icon-install bigger-icon"></span> Blink
</a><a class="js-argon-tutorial" data-path="SerialHelloWorld" data-title="SerialHelloWorld">
    <span class="icon-install bigger-icon"></span> Serial Hello World </a>
<hr>
<div class="sb-right-category">Documents</div>
<div class="js-argon-docs">
    <div class="docs">
        <ul class="unreset-ul">
            <li>
                <a class="get-doc" data-doc-path="argon-robot/base/index.html">Argon Robot</a>
                <ul class="unreset-ul">
                    <li>
                        <a class="get-doc" data-doc-path="argon-robot/base/index.html">Argon Base</a>
                        <ul class="unreset-ul">
                            <li><a class="get-doc" data-doc-path="argon-robot/base/index.html">Overview</a></li>
                            <li><a class="get-doc" data-doc-path="argon-robot/base/technical-specs.html">Technical
                                Specifications</a></li>
                            <li><a class="get-doc" data-doc-path="argon-robot/base/docs.html">Document</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="get-doc" data-doc-path="argon-robot/base/index.html">Argon Arm</a>
                        <ul class="unreset-ul">
                            <li><a class="get-doc" data-doc-path="argon-robot/arm/index.html">Overview</a></li>
                            <li><a class="get-doc" data-doc-path="argon-robot/arm/technical-specs.html">Technical
                                Specifications</a></li>
                            <li><a class="get-doc" data-doc-path="argon-robot/arm/docs.html">Document</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-doc-path="web-editor/index.html" class="get-doc">Argon Web Editor</a>
                        <ul class="unreset-ul">
                            <li>
                                <a class="get-doc" data-doc-path="argon-robot/arm/index.html">Argon Web Editor Overview</a>
                                <ul class="unreset-ul">
                                    <li>
                                        <a class="get-doc" data-doc-path="argon-robot/arm/index.html">Overview</a>
                                    </li>
                                    <li>
                                        <a class="get-doc" data-doc-path="argon-robot/arm/index.html">Compiler /
                                            Uploader</a>
                                    </li>
                                    <li>
                                        <a class="get-doc" data-doc-path="argon-robot/arm/index.html">Serial / Data
                                            Monitor</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="get-doc" data-doc-path="web-editor/c-programming/index.html">C/C++: Argon Programming</a>
                                <ul class="unreset-ul">
                                    <li>
                                        <a class="get-doc" data-doc-path="argon-robot/arm/index.html">Examples</a>
                                    </li>
                                    <li>
                                        <a class="get-doc" data-doc-path="web-editor/c-programming/index.html">C/C++ Reference</a>
                                    </li>
                                    <li>
                                        <a class="get-doc" data-doc-path="argon-robot/arm/index.html">Serial / Data
                                            Monitor</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-doc-path="getting-started-argon.html" class="get-doc">Robot Operating System (ROS)</a>
                    </li>
                    <li>
                        <a data-doc-path="getting-started-argon.html" class="get-doc">Matlab / Simulink</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div style="display: none">
            <h5 style="cursor: pointer" class="js-scroll">1.1 How to bla bla</h5>
            <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                amet </p>
            <h5>How to bla bla</h5>
            <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                amet </p>
            <h5>How to bla bla</h5>
            <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                amet </p>
            <h5>How to bla bla</h5>
            <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                amet </p>
            <h5>How to bla bla</h5>
            <p>Integer interdum, ipsum egestas ornare sagittis, arcu dui feugiat lorem, nec dignissim dui augue in est.
                Etiam sapien dolor, rutrum eget eros vitae, pulvinar iaculis massa. Praesent blandit arcu dui, at
                finibus nisi tristique non. Morbi gravida leo in purus vehicula fermentum. Pellentesque tortor turpis,
                auctor sit amet turpis consectetur, condimentum sagittis mi. Pellentesque maximus id libero vel euismod.
                In vel aliquet enim. Maecenas egestas vehicula fringilla. Nunc sodales justo eros, at efficitur ipsum
                pellentesque vel. Aliquam quis dolor arcu. Pellentesque at velit nec purus porttitor varius non ac ante.
                Cras lobortis nulla vitae elementum pharetra. In ut ultricies tortor, quis molestie felis. Etiam egestas
                tellus vel faucibus consequat. Vestibulum posuere enim nec nulla fermentum, at pulvinar eros porttitor.
                Pellentesque congue volutpat gravida. Cras nec vulputate dui. Proin blandit lorem eu erat bibendum
                ultricies. Suspendisse non metus nisi. Praesent non dolor hendrerit neque fringilla hendrerit vitae at
                tortor. Sed sed faucibus est, eget congue nisi. Praesent non vulputate dolor. Phasellus convallis
                aliquam neque a suscipit. Suspendisse nibh erat, accumsan quis tristique nec, viverra et urna. Maecenas
                dignissim ex id justo efficitur, ac accumsan nulla faucibus. Nullam eget faucibus nunc. Nulla hendrerit
                maximus augue, ut elementum justo venenatis id. </p>
            <h5 class="js-target">1.1 Donec a nisi eu lectus elementum viverra</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc erat neque, feugiat at velit quis,
                venenatis imperdiet eros. Vivamus interdum lectus aliquet, porta est sed, consequat tellus. Aliquam
                tincidunt varius luctus. Maecenas eget neque dolor. Morbi in odio quis risus convallis dictum.
                Suspendisse nec bibendum arcu, quis porta felis. Aenean urna lacus, pretium eget odio id, fermentum
                tempus nisl. Cras et quam lorem. Quisque id nulla odio. Cras eu elit id lectus tempus feugiat sed et
                purus. Donec imperdiet tristique elit eget rhoncus. Nulla ut enim ut ante consequat aliquet ac non quam.
                Nullam in ligula id ante vulputate tincidunt. Aliquam ultricies tortor eu dolor fringilla mollis. Aenean
                a libero porttitor ex maximus porta. Morbi vel turpis sit amet urna gravida malesuada. Integer interdum,
                ipsum egestas ornare sagittis, arcu dui feugiat lorem, nec dignissim dui augue in est. Etiam sapien
                dolor, rutrum eget eros vitae, pulvinar iaculis massa. Praesent blandit arcu dui, at finibus nisi
                tristique non. Morbi gravida leo in purus vehicula fermentum. Pellentesque tortor turpis, auctor sit
                amet turpis consectetur, condimentum sagittis mi. Pellentesque maximus id libero vel euismod. In vel
                aliquet enim. Maecenas egestas vehicula fringilla. Nunc sodales justo eros, at efficitur ipsum
                pellentesque vel. Aliquam quis dolor arcu. Pellentesque at velit nec purus porttitor varius non ac ante.
                Cras lobortis nulla vitae elementum pharetra. In ut ultricies tortor, quis molestie felis. Etiam egestas
                tellus vel faucibus consequat. Vestibulum posuere enim nec nulla fermentum, at pulvinar eros porttitor.
                Pellentesque congue volutpat gravida. Cras nec vulputate dui. Proin blandit lorem eu erat bibendum
                ultricies. Suspendisse non metus nisi. Praesent non dolor hendrerit neque fringilla hendrerit vitae at
                tortor. Sed sed faucibus est, eget congue nisi. Praesent non vulputate dolor. Phasellus convallis
                aliquam neque a suscipit. Suspendisse nibh erat, accumsan quis tristique nec, viverra et urna. Maecenas
                dignissim ex id justo efficitur, ac accumsan nulla faucibus. Nullam eget faucibus nunc. Nulla hendrerit
                maximus augue, ut elementum justo venenatis id. Donec a nisi eu lectus elementum viverra. Integer
                pretium nisl non metus tincidunt fermentum. Vestibulum luctus ac ligula eget viverra. Cras faucibus
                pharetra iaculis. Donec condimentum eu risus id ultrices. Maecenas malesuada dolor a lectus porta, quis
                euismod purus suscipit. Phasellus ullamcorper nec lectus ac mollis. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia Curae; Nunc finibus magna magna. Suspendisse eget nulla
                et magna congue dapibus. Donec laoreet tincidunt quam, et placerat sapien mollis efficitur. Vestibulum
                interdum libero sit amet molestie cursus. Morbi sed placerat felis, nec lacinia arcu. Aenean vitae
                libero sed ex interdum feugiat et sit amet massa. Aenean maximus cursus pharetra.</p>
        </div>
    </div>
</div>
