<h1>Argon C/C++ API</h1>
<h2>Argon Library</h2><p>
    Argon library has a number of built in sensors and actuators. The library is designed to easily access the Argon
    robot’s functionality. Argon has two modules, a mobile 4 mecanum wheeled base and robotic arm. Each module has a
    separate programmable processor. The library enables you to do various things with mobile base, robotic arm and each
    joint/motor: </p>
<ul class="unreset-ul">
    <li>Read the state of different sensors</li>
    <li>Access I/O pins on the board</li>
    <li>Control I2C, SPI and UART ports</li>
    <li>Communicate with on board Raspberry over serial</li>
</ul>
<h3>Argon Joint / Motor</h3>
<ul class="unreset-ul">
    <li>Get and set motor settings</li>
    <li>Get motor position and speed</li>
    <li>Control motor speed and direction</li>
    <li>Control motor position</li>
    <li>Sense the current used by each motor</li>
</ul>
<h3>Argon Mobile Base</h3>
<ul class="unreset-ul">
    <li>Get and set Argon Base dimensions and settings</li>
    <li>Get Argon Base position and speed</li>
    <li>Control Argon Base speed and direction</li>
    <li>Control Argon Base position</li>
</ul>
<h3>Argon Robotic Arm</h3>
<ul class="unreset-ul">
    <li>Get and set Argon Arm dimensions and settings</li>
    <li>Get Argon Arm position and speed</li>
    <li>Control Argon Arm speed and direction</li>
    <li>Control Argon Arm position</li>
</ul>

<h3>ArgonJoint Class</h3>
<p>
    Use this to make your own firmware for the Argon Control Board. This class commands the Argon Control Board as well as the I/Os and motors on the board. ArgonJoint objects are already pre-created under ArgonBase and ArgonArm classed. You do not need to create an object of type ArgonJoint.
</p>
<ul class="unreset-ul">
    <li><a class="get-doc" data-doc-path="web-editor/c-programming/api/constructor.html">ArgonJoint Constructor</a></li>
</ul>

