<div>
    <div>
        <h2>Overview</h2>
        <p>
            With Argon Base, you can learn about robotics, electronics, mechanics and software. Argon Base is a tiny
            computer on wheels. It comes with a number of project examples you can easily replicate, and it is a
            powerful robotics platform that you can hack to perform all sorts of tasks. </p>
        <img src="/plugins/argon/images/ArgonBasePers1.png" width="400px">
        <p>
            Argon Base comes with four motors with encoders which are attached to mecanum wheels and four motor drivers
            with current sense capability. You can control these components and actuators through Argon library. There
            are three different boards on Argon Base; a Nucleo-F446RE control board, a Raspberry Pi 3 and a power supply
            board. The GPIO pins of Raspberry Pi 3 and Nucleo-F446RE can be used to attach many different types of
            sensors and actuators. </p>
    </div>
    <div>
        <h2>Technical Specifications</h2>
        <p>
            There are four encoder gear motors, four motor drivers and three different boards on Argon Base; a
            Nucleo-F446RE control board, a Raspberry Pi 3 and a power supply board. </p>
        <img src="/plugins/argon/images/ArgonBasePers2.png" width="300px">
        <div>
            <h3>Argon Base Dimensions</h3>
            <table>
                <tbody>
                    <tr>
                        <td>Width</td>
                        <td>123mm</td>
                    </tr>
                    <tr>
                        <td>Length</td>
                        <td>123mm</td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>123mm</td>
                    </tr>
                    <tr>
                        <td>Net Weight</td>
                        <td>123mm</td>
                    </tr>
                    <tr>
                        <td>Load Capacity</td>
                        <td>123mm</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Mecanum Wheel Dimensions</h3>
            <table>
                <tbody>
                    <tr>
                        <td>Diameter</td>
                        <td>60mm</td>
                    </tr>
                    <tr>
                        <td>Width</td>
                        <td>31mm</td>
                    </tr>
                    <tr>
                        <td>Number of Rollers</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Number of Plates</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Body Material</td>
                        <td>Aluminum Alloy</td>
                    </tr>
                    <tr>
                        <td>Roller Material</td>
                        <td>PP+PE</td>
                    </tr>
                    <tr>
                        <td>Length of Roller</td>
                        <td>30 mm</td>
                    </tr>
                    <tr>
                        <td>Net Weight</td>
                        <td>86 g</td>
                    </tr>
                    <tr>
                        <td>Load Capacity</td>
                        <td>3 kg</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

